<template>
  <div class="main-container main-container--wr">
    <page-banner :title="slug"></page-banner>
    <skid-gigs :badge="slug"></skid-gigs>
  </div>
</template>

<script>
import PageBanner from "~/components/pageBanner.vue";
import SkidGigs from "~/components/gigs.vue";

export default {
  asyncData({ params }) {
    return {
      slug: params.cat
    };
  },
  components: {
    PageBanner,
    SkidGigs
  }
};
</script>
