<template>
  <section class=" main-container  main-container--wr">
    <p class="contact__title">contact</p>
    <div class="contact  main-container  main-container--wr  main-container--ovh  main-container--full  main-container--rel">
      <div class=" main-container  main-container--wr  main-container--ovh  main-container--block  main-container--rel mtb-40">
        <div class="contact__social">
          <ul>
            <li><a href="#" class="icon-facebook-squared"></a></li>
            <li><a href="#" class="icon-twitter"></a></li>
            <li><a href="#" class="icon-instagram"></a></li>
          </ul>
        </div>
        <form action="#" class="contact__form">
          <div class="contact__form--Left">
            <input type="text" name="name" placeholder="NAME">
            <input type="text" name="age" placeholder="AGE">
            <input type="text" name="location" placeholder="LOCATION">
            <input type="email" name="email" placeholder="EMAIL">
          </div>
          <div class="contact__form--Right">
            <textarea name="message" rows="9" cols="80" placeholder="MESSAGE"></textarea>
            <input type="submit" value="send">
          </div>
        </form>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  head: () => ({
    title: "Contact Us | Datspot"
  })
};
</script>

<style lang="postcss" scoped>
.contact__title {
  @map fonts alphaL;
  text-align: center;
  c: map(colors, primary);
  lh: 6rem;
}

.contact {
  bg: map(colors, black);

  &__social,
  &__form {
    float: left;

    @media only map(breakpoints, phone) {
      float: none;
      width: 100%;
      margin: 0;
    }
    @media only map(breakpoints, phoneL) {
      float: none;
      width: 100%;
      margin: 0;
    }
  }

  &__social {
    w: 15%;

    ul {
      margin: 1.9rem 0;
      padding: 0;
      list-style: none;
      overflow: hidden;
      w: 100%;

      @media only map(breakpoints, phone) {
        li {
          width: calc(100% / 3);
          float: left;
        }
      }
      @media only map(breakpoints, phoneL) {
        li {
          width: calc(100% / 3);
          float: left;
        }
      }

      li {
        m: 1rem 0;
        a {
          display: block;
          text-align: center;
          c: map(colors, primary);
          fz: 3.5rem;
        }
      }
    }
  }

  &__form {
    w: 82%;
    ml: 3%;

    &--Left,
    &--Right {
      float: left;
      w: 46%;

      @media only map(breakpoints, phone) {
        float: none;
        width: 100%;
        margin: 0;
      }
      @media only map(breakpoints, phoneL) {
        float: none;
        width: 100%;
        margin: 0;
      }
    }

    &--Right {
      ml: 4%;
    }

    input[type="text"],
    input[type="email"],
    textarea {
      border: none;
      bg: map(colors, bgGrey);
      display: block;
      p: 1.8rem 2.2rem;
      fz: 1.6rem;
      m: 1.9rem 0;
      w: 100%;
    }

    input[type="submit"] {
      border: none;
      c: map(colors, black) map(colors, primary);
      text-transform: uppercase;
      fz: 1.6rem;
      w: 100%;
      p: 1.8rem 2.2rem;
    }
  }
}

.mtb-40 {
  m: 4rem *;
}
</style>
