<template>
  <div class="main-container main-container--wr">
    <section class="indexBanner main-container  main-container--full  main-container--wr  main-container--rel">
      <img src="~assets/img/banner-1.png" alt="Datspot intro">
      <div class="indexBanner__overLay">
        <p class="indexBanner__overLay--slogan">Bringing people <span>&</span> places together</p>
        <div class="indexBanner__overLay--info">
          <div class="indexBanner__overLay--info__3x">
            <div class="icon-location"></div>
            <p>45,809</br>spots</p>
          </div>
          <div class="indexBanner__overLay--info__3x">
            <div class="icon-users"></div>
            <p>16,903</br>members</p>
          </div>
          <div class="indexBanner__overLay--info__3x">
            <div class="icon-chat"></div>
            <p>live</br>chat</p>
          </div>
        </div>
      </div>
      <div class="indexBanner__button"><img src="~assets/img/button.png" alt="Datspot button"></div>
    </section>
    <app-download/>
  </div>
</template>

<script>
import AppDownload from "~/components/myApp.vue";

export default {
  components: {
    AppDownload
  },
  head: () => ({
    title: "Home | Datspot"
  })
};
</script>

<style lang="postcss" scoped>
.indexBanner {
  img {
    w: 100%;
    h: auto;
    display: block;
  }

  @media only map(breakpoints, phone) {
    img {
      width: auto;
      height: 16rem;
    }
  }

  &__overLay {
    position: absolute 10% 0 0;
    m: 0 auto;
    w: 65%;

    @media only map(breakpoints, phone) {
      width: 80%;

      &--slogan {
        font-size: 3rem;
        line-height: 3rem;
      }
    }
    @media only map(breakpoints, phoneL) {
      width: 80%;

      &--slogan {
        font-size: 4rem;
        line-height: 5rem;
      }
    }
    @media only map(breakpoints, tablet) {
      &--slogan {
        font-size: 3rem;
        line-height: 3rem;
      }
    }

    &--slogan {
      @map fonts alphaXL;
      m: 0;
      text-align: center;
      c: #fff;
      lh: 6rem;

      span {
        c: map(colors, primary);
      }
    }

    &--info {
      bg: rgba(0, 0, 0, 0.8);
      -webkit-border-top-left-radius: 50px;
      -webkit-border-top-right-radius: 50px;
      -moz-border-radius-topleft: 50px;
      -moz-border-radius-topright: 50px;
      border-top-left-radius: 50px;
      border-top-right-radius: 50px;
      position: relative;
      overflow: hidden;
      mt: 5.11rem;
      pb: 3rem;

      @media only map(breakpoints, phone) {
        display: none;
      }
      @media only map(breakpoints, phoneL) {
        display: none;
      }
      @media only map(breakpoints, tablet) {
        margin-top: 0;
        position: absolute;
        width: 100%;
        bottom: 0;

        p {
          font-size: 1.6rem;
        }

        [class^="icon-"],
        [class*=" icon-"] {
          margin-top: 0;

          &:before {
            font-size: 4rem;
          }
        }
      }

      &__3x {
        w: 32.26%;
        m: 0 0.8%;
        float: left;
        p: 2rem;

        &:first-child {
          ml: 0;
        }

        &:last-child {
          mr: 0;
        }

        p {
          c: #fff;
          text-transform: uppercase;
          text-align: center;
          ff: "Gotham";
          fw: 900;
          fz: 2rem;
        }

        [class^="icon-"],
        [class*=" icon-"] {
          text-align: center;
          mt: 3rem;

          &:before {
            c: map(colors, primary);
            fz: 9rem;
          }
        }

        .icon-chat {
          &:before {
            -moz-transform: scaleX(-1); /* Gecko */
            -o-transform: scaleX(-1); /* Opera */
            -webkit-transform: scaleX(-1); /* Webkit */
            transform: scaleX(-1); /* Standard */
            filter: FlipH;
          }
        }
      }
    }
  }

  &__button {
    position: absolute * 0 -8%;
    w: 6%;
    m: 0 auto;
    z-index: 10;

    @media only map(breakpoints, phone) {
      width: 14%;
      bottom: -12%;

      img {
        w: 100%;
        h: auto;
        display: block;
      }
    }
    @media only map(breakpoints, phoneL) {
      width: 12%;
      bottom: -15%;
    }
    @media only map(breakpoints, tablet) {
      width: 9%;
      bottom: -12%;
    }

    img {
      w: 100%;
      h: auto;
      display: block;
    }
  }
}
</style>
