<template>
  <div class="main-container main-container--wr">
    <page-banner title="datspot the app"></page-banner>
    <app-download/>
  </div>
</template>

<script>
import AppDownload from "~/components/myApp.vue";
import PageBanner from "~/components/pageBanner.vue";

export default {
  components: {
    AppDownload,
    PageBanner
  },
  head: () => ({
    title: "The app | Datspot"
  })
};
</script>
