<template>
  <div class="main-container main-container--wr">
    <page-banner title="what's on"></page-banner>
    <skid-gigs></skid-gigs>
  </div>
</template>

<script>
import PageBanner from "~/components/pageBanner.vue";
import SkidGigs from "~/components/gigs.vue";

export default {
  components: {
    PageBanner,
    SkidGigs
  },
  head: () => ({
    title: "What's On | Datspot"
  })
};
</script>
